
<div class="login_signup_page">
<div class="login_signup_title_container">
  <h1 class="splash_text login_signup_title">BUDGET.IO</h1>
</div>

<div class="login_signup_buttons">
<%= link_to "SIGN UP", new_user_registration_path %>
<%= link_to "LOGIN", new_user_session_path  %>
</div>
 
</div>
